name: Repository Metadata Sync

on:
  push:
    branches: [main, master]

jobs:
  repo_sync:
    if: github.event.repository.fork == false
    runs-on: ubuntu-latest
    steps:
      - name: Fetching Local Repository
        uses: actions/checkout@v6
      - name: Repository Metadata Sync
        uses: iloveitaly/github-actions-metadata-sync@main
        with:
          # editing metadata always requires a customized PAT, checkout the action readme for more info
          TOKEN: ${{ secrets.GH_PERSONAL_TOKEN }}
